---
import '#/styles/global.css'
import { SEO } from 'astro-seo'
import Header from '#/components/Header.astro'
import Footer from '#/components/Footer.astro'
import { ViewTransitions } from 'astro:transitions'

export interface Properties {
  title?: string
  description?: string
  image?: {
    url?: string
    alt: string
  }
  disableIndexing?: boolean
  viewTransitions?: boolean
}

const defaultTitle = 'Ethereum Follow Protocol'

const {
  title,
  description = 'Ethereum Follow Protocol',
  image,
  viewTransitions = false,
} = Astro.props

/**
 * Temporarily disable globally until it works on iOS Safari
 */
const __GLOBAL_ENABLE_VIEW_TRANSITIONS__ = false

const viewTransitionsEnabled = viewTransitions && __GLOBAL_ENABLE_VIEW_TRANSITIONS__

const _title = title ? `${title} | ${defaultTitle}` : defaultTitle
const _image = image?.url ?? '/public/assets/og-placeholder.jpeg'
---

<html
  lang='en'
  class='m-auto h-full min-h-full scroll-smooth w-full overflow-x-hidden'
>
  <head>
    <SEO
      title={_title}
      titleDefault={_title}
      charset='utf8'
      description={description}
      openGraph={{
        basic: {
          title: _title,
          type: 'website',
          image: _image,
          url: Astro.url.href,
        },
      }}
      twitter={{ creator: '@ethfollowpr' }}
      extend={{
        link: [
          /**
           * TODO: Generate proper Apple Touch Icons
           */
          { rel: 'icon', href: `/assets/favicon.ico` },
          {
            rel: 'icon',
            type: 'image/png',
            // sizes: '16x16',
            href: '/assets/favicon-16x16.png',
          },
          {
            rel: 'icon',
            type: 'image/png',
            // sizes: '32x32',
            href: '/assets/favicon-32x32.png',
          },
          {
            rel: 'manifest',
            href: '/assets/site.webmanifest',
          },
          {
            rel: 'mask-icon',
            href: '/assets/safari-pinned-tab.svg',
            // color: '#5bbad5',
          },
        ],

        // extending the default meta tags
        meta: [
          { name: 'title', content: _title },
          { name: 'image', content: _image },
          { name: 'twitter:url', content: Astro.url.href },
          { name: 'twitter:site', content: '@ethfollowpr' },
          { name: 'twitter:creator', content: '@ethfollowpr' },
          { name: 'twitter:card', content: 'summary_large_image' },
          { name: 'twitter:image', content: _image },
          { name: 'twitter:title', content: _title },
          { name: 'generator', content: Astro.generator },
          { name: 'sitemap', content: '/sitemap-index.xml' },
          { name: 'twitter:description', content: description },
          { name: 'viewport', content: 'width=device-width, initial-scale=1.0, maximum-scale=5.0' },
          { name: 'msapplication-TileColor', content: '#da532c' },
        ],
      }}
    />
    {viewTransitionsEnabled && <ViewTransitions fallback='animate' />}
  </head>

  <body
    class:list={['items-center w-full min-w-full bg-gradient-to-b from-yellow-300 to-pink-400']}
  >
    <div class='flex flex-col h-screen max-h-screen'>
      <Header />
      <slot />
      <Footer />
    </div>
    <script src='#/lib/wallet.ts'></script>
  </body>
</html>
